{% extends 'base.html' %}
{% block content %}

    <h2>Welcome to the login page </h2>
   

    {% if errors %}
      <ul style="color: red;">
        {% for e in errors %}
          <li>{{ e }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <form method="post" action="{{ url_for('hello') }}">
      <label>Username<br>
        <input type="text" name="username" value="{{ username|default('') }}">
      </label><br><br>

      <label>Email<br>
        <input type="email" name="email" value="{{ email|default('') }}">
      </label><br><br>

      <label>Password<br>
        <input type="password" name="password">
      </label><br><br>

      <button type="submit">Register</button>
    </form>

    <p>Already have an account? <a href="{{ url_for('login_page') }}">Login</a></p>
     
{% endblock %}